* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body{
    font-family: Arial, sans-serif;
}

.funcionalidades{
    padding: 20px;
}

.funcionalidades h2 {
    color:crimson (44,14,212)
}

.secao-principal{
    background-color:crimson;
}